<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354628100697-5n3h3s5pafl831f6p1gtu0ea4d54l8rk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354628100697-5n3h3s5pafl831f6p1gtu0ea4d54l8rk</string>
	<key>API_KEY</key>
	<string>AIzaSyC_42m6bUXHqPSllHOpjgqg2Lk-S-Db0ig</string>
	<key>GCM_SENDER_ID</key>
	<string>354628100697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.droneCloud</string>
	<key>PROJECT_ID</key>
	<string>dronecloud-56f01</string>
	<key>STORAGE_BUCKET</key>
	<string>dronecloud-56f01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354628100697:ios:ab5a2f8fc62e5bb8cac748</string>
</dict>
</plist>